.hide {
  display: none;
}
.show {
  display: flex !important;
}

/* Overview */

#overview {
  width: 720px;
  margin: 50px 0px 0px 80px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  max-width: 85%;
}

#cv-overview {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overview-item {
  margin-left: 25px;
  margin-top: 10px;
}

#edit-cv {
  background: url("../assets/Edit_icon_\(the_Noun_Project_30184\).svg");
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  transform: scale(0.3);
  position: absolute;
  top: 12px;
  left: 12px;
  cursor: pointer;
}
